* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background-image:    
  linear-gradient( rgba(88, 89, 146, 0.7),rgba(88, 89, 146, 0.7)),
    url(./images/banner.jpeg);
  background-position: center;
  background-size: cover;
  /* position: relative; */
}

.header {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}

.header p {
  font-style: italic;
  font-size: 1.2em;
  margin: 10px;
  font-weight: 70;
}

#surveyForm {
  border: 1px solid black;
  background-image: linear-gradient(
    rgba(39, 39, 70, 0.7),
    rgba(39, 39, 70, 0.7)
  );
  margin: 0 20%;
  padding: 50px;
  position: relative;
}

.formElment {
  margin-bottom: 10%;
  margin-top: 1.5em;
}

.formElment label {
  font-size: 1.1rem;
}

input[type="text"] {
  width: 100%;
}

input[type="email"] {
  width: 100%;
}

input[type="number"] {
  width: 100%;
}

select {
  width: 100%;
}

textarea {
  width: 100%;
}

.submit-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  min-width: 100%;
  background: #37af65;
  margin-top: 1em;
}
